@font-face {
    font-family: "JinKai";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/tsangerJinKai03-W04.woff2") format("woff2");
}
@font-face {
    font-family: "JinKai";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/tsangerJinKai03-W05.woff2") format("woff2");
}

@import "tailwindcss";

@theme {
    --font-body: JinKai, system-ui, sans-serif;
    --color-brand-primary: #a97f44;
    --color-bg-primary: #fff;
    --color-bg-secondary: #f7f3e8;
    --color-text-primary: #3a2221;
}

@layer base {
    body {
        @apply font-body;
        @apply text-text-primary;
        min-height: 100vh;
    }
}
