{{- $coverImage := .Resources.GetMatch "cover.{avif,webp,jpg,jpeg,png}" -}} {{-
if $coverImage -}} {{- $webpMobile := $coverImage.Resize "300x webp q80" -}} {{-
$jpegMobile := $coverImage.Resize "300x jpeg q80" -}} {{- $webpDesktop :=
$coverImage.Resize "600x webp q80" -}} {{- $jpegDesktop := $coverImage.Resize
"600x jpeg q80" -}} {{- $title := .Title | default $.Page.Title | plainify -}}

<div class="book-cover w-[108px] h-[156px]">
    <picture>
        <source
            media="(max-width: 600px)"
            srcset="{{ $webpMobile.RelPermalink }}"
            type="image/webp"
        />
        <source
            media="(max-width: 600px)"
            srcset="{{ $jpegMobile.RelPermalink }}"
            type="image/jpeg"
        />
        <source
            media="(min-width: 601px)"
            srcset="{{ $webpDesktop.RelPermalink }}"
            type="image/webp"
        />
        <source
            media="(min-width: 601px)"
            srcset="{{ $jpegDesktop.RelPermalink }}"
            type="image/jpeg"
        />
        <img
            class="book-item-cover-img w-[108px] h-[156px]"
            fetchpriority="high"
            decoding="async"
            src="{{ $jpegDesktop.RelPermalink }}"
            alt="{{ $title }} 封面"
            loading="lazy"
        />
    </picture>
    <span class="book-cover-decor"></span>
</div>
{{- else -}}
<div class="book-cover placeholder-cover w-[108px] h-[156px]">
    <div class="placeholder-text">
        {{ .Title | default $.Page.Title | truncate 10 }}
    </div>
</div>
{{- end -}}
