{{- $page := . -}} {{- $params := dict -}} {{- if reflect.IsMap . -}} {{- if
.Page -}} {{- $page = .Page -}} {{- $params = .Params | default dict -}} {{- end
-}} {{- end -}}

<li class="book-item cursor-pointer inline-block scrolling-card">
    <a
        href="{{ $page.RelPermalink }}"
        class="inline-block text-ellipsis w-[108px] overflow-hidden"
    >
        {{ partial "book-cover" $page }}

        <p class="book-item-title truncate-1 mt-1">{{ $page.LinkTitle }}</p>

        {{- /* 显示日期 */ -}} {{- if $params.show_date -}} {{- $date := or
        $page.Params.read_date $page.Date -}}
        <p class="book-item-date text-sm text-gray-600">
            {{ $date.Format "2006-01-02" }}
        </p>
        {{- end -}} {{- /* 显示作者 */ -}} {{- if $params.show_author -}} {{-
        with $page.Params.author -}}
        <p class="book-item-author text-sm text-gray-600">{{ . }}</p>
        {{- end -}} {{- end -}}
    </a>
</li>
