{{- with .Resources.GetMatch "cover.{avif,webp,jpg,jpeg,png}" -}}
{{- $webpMobile := .Resize "300x webp q80" -}}
{{- $jpegMobile := .Resize "300x jpeg q80" -}}
{{- $webpDesktop := .Resize "600x webp q80" -}}
{{- $jpegDesktop := .Resize "600x jpeg q80" -}}
<div class="book-cover" style="width: 108px; height: 156px">
    <picture>
        <source
            media="(max-width: 600px)"
            srcset="{{ $webpMobile.RelPermalink }}"
            type="image/webp"
        />
        <source
            media="(max-width: 600px)"
            srcset="{{ $jpegMobile.RelPermalink }}"
            type="image/jpeg"
        />
        <source
            media="(min-width: 601px)"
            srcset="{{ $webpDesktop.RelPermalink }}"
            type="image/webp"
        />
        <source
            media="(min-width: 601px)"
            srcset="{{ $jpegDesktop.RelPermalink }}"
            type="image/jpeg"
        />
        <img
            class="book-item-cover-img"
            width="108"
            height="156"
            fetchpriority="high"
            decoding="async"
            src="{{$jpegDesktop.RelPermalink}}"
            alt="{{.Title | default $.Page.Title | plainify}} 封面"
            loading="lazy"
        />
    </picture>
    <span class="book-cover-decor"></span>
</div>
{{- end -}}
