<li class="book-item unread-item cursor-pointer inline-block scrolling-card">
    <a
        href="{{ .RelPermalink }}"
        class="inline-block bg-gray-50 rounded-lg overflow-hidden"
        aria-label="{{ .LinkTitle }}"
    >
        <div class="book-item-top flex items-center">
            <div class="m-4">{{ partial "book-cover" .}}</div>
            <div class="book-info">
                <p class="book-item-title text-xl">{{ .LinkTitle }}</p>
                <p class="book-item-author">{{ .Params.author }}</p>
            </div>
        </div>

        {{- if or .Params.recommender .Params.recommendation -}}
        <div class="book-item-info bg-gray-200 p-4">
            {{- with .Params.recommender -}}
            <p class="book-item-recommander">{{.}}推荐：</p>
            {{- end -}} {{- with .Params.recommendation -}}
            <p class="book-item-recommand truncate-3">{{.}}</p>
            {{- end -}}
        </div>
        {{- end -}}
    </a>
</li>
